<div class="center">
  <div #chessboard id="chessboard" class="chessboard"></div>

  <div class="settings">
      <section>
      <h5 for="FEN">FEN</h5>
      <input class="form-control" id="FEN" [(ngModel)]="fen" />
      <button class="m-1 btn" (click)="loadFenButtonClick()">Load FEN</button>
    </section>

    <section>
      <h5 for="Room">Room</h5>
      <input class="form-control" id="Room" [(ngModel)]="currentRoomId" />
      <button class="m-1 btn" (click)="joinRoomOnClick()">Join Room</button>
      <button class="m-1 btn" (click)="createRoom()">Create Room</button>
    </section>
  </div>
</div>