.main-div {
      display: flex;
      width: 100vw;
      height: 100vh; 
    }
.left, .center, .right {
    height: 100%;
}
.left {
    width: 32%;
}
.center {
    width: 36%;
    text-align: center;

}
.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  height: 60%;
}
.grid-item {
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  margin:4px;
}
.right {
    width: 32%;
    display: block;
    padding: 10px;
}
.right-buttons{
    width:70%;
    
}