<h1>Chess Homepage</h1>
<div class="main-div">
    <div class="left"></div>
    <div class="center">
      <div class="grid">
        <button class="btn grid-item bg-secondary text-white">1 + 0 <br>Bullet</button>
        <button class="btn grid-item bg-secondary text-white">2 + 0 <br>Bullet</button>
        <button class="btn grid-item bg-secondary text-white">3 + 0 <br>Bullet</button>
        <button class="btn grid-item bg-secondary text-white">3 + 2 <br>Blitz</button>
        <button class="btn grid-item bg-secondary text-white">5 + 0 <br>Blitz</button>
        <button class="btn grid-item bg-secondary text-white">5 + 3 <br>Blitz</button>
        <button class="btn grid-item bg-secondary text-white">5 + 3 <br>Rapid</button>
        <button class="btn grid-item bg-secondary text-white">5 + 3 <br>Rapid</button>
        <button class="btn grid-item bg-secondary text-white">5 + 3 <br>Rapid</button>
        <button class="btn grid-item bg-secondary text-white">5 + 3 <br>Classical</button>
        <button class="btn grid-item bg-secondary text-white">5 + 3 <br>Classical</button>
        <button class="btn grid-item bg-secondary text-white">Custom</button>
      </div>
    </div>
    <div class="right">        
        <button class="btn grid-item bg-secondary text-white right-buttons">Create A Game</button>
        <br>
        <button class="btn grid-item bg-secondary text-white right-buttons">Play With Friend</button>
        <br>
        <button class="btn grid-item bg-secondary text-white right-buttons">Play With The Computer</button>
    </div>
  </div>